<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/chunk_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Chunks to do...</h3>
      <%= render 'shared/todo_chunks' %>
      <%= render 'shared/recently_closed_chunks' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Chunks</h1>

	<h2>
		Get things done today
	</h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>


