<li id="<%= chunk.id %>">
	<% if chunk.status_id == 0 %>

		<div class="main_chunk">
			<%= link_to chunk, method: :delete,
		                         data: { confirm: "You sure?" },
		                        title: "Delete: " + chunk.description do %>
				<i class="icon-trash"></i>
			<% end %>	
			<a href="chunks/<%= chunk.id %>/event/0" title="Chunk done" #https://groups.google.com/forum/#!topic/cfwheels/_LuRsO_hcyo>
				<i class="icon-check"></i>
			</a>
			<span class="description"><%= chunk.description %></span>
			<span class="timestamp">(Posted <%= time_ago_in_words(chunk.created_at) %> ago)</span>
		</div>
		<% if 0==1 #disable the form for now%>
		<div class="chunk_extra_info">
			
			<%= form_for chunk, :index => chunk.id do |f| %>
      			<%= f.text_field :description %>

				<%= f.label :category %><%= f.text_field :category %>

				<%= f.label :due_date %>
				<div class="input-append date" id="dp<%= chunk.id %>" 
					                    data-date="<%= Time.now.strftime("%m-%d-%Y") %>" 
					             data-date-format="dd-mm-yyyy">
					<%= f.text_field :due_date %>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				
				<script>
					$(function(){
						$('#dp<%= chunk.id %>').datepicker();
					});
				</script>
			<% end %>
		</div>
		<% end %>
	<% else %>
		<a href="chunks/<%= chunk.id %>/event/1">
			<i class="icon-refresh"></i>
		</a>
		<span class="description"><%= chunk.description %></span>
		<span class="timestamp">
			(Closed <%= time_ago_in_words(chunk.updated_at) %> ago)
		</span>
	<% end %>
</li>